
.menu
{
  width:174px;
  background: #435781 url(/pub/images/menu/lisp-logo.png) repeat-x center 95%;
  color:#efefef;
  font-size:160.01%;
  float:left;
  padding:0.75em;
  padding-bottom:9em;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
}

.menu ul {
  border:0;
}

.menu h1, .menu .extra-top-1,
.menu h1, .menu .extra-top-2,
.menu h1, .menu .extra-top-3,
.menu h1, .menu .extra-bottom-1,
.menu h1, .menu .extra-bottom-2,
.menu h1, .menu .extra-bottom-3
{
  display:none;
}

.empty-menu
{
  padding-left: 0.55em;
}

.selected-item
{
  color: #fff;
}

.menu ul li a {
  font-family:Bitstream Vera Sans,Trebuchet MS,sans-serif;
  display:block;
  width:100%;
  height:48px;
  background:transparent url(/pub/images/menu/button-normal.png) no-repeat;
  color:#efefef;
  text-decoration:none;
  padding-left:0.5em;
  line-height:2.5em;
}

.menu ul li
{
  padding-left: 0;
  border:0;
  margin:0.5em 0;
}

.menu ul li a:hover {
  background:transparent url(/pub/images/menu/button-hover.png) no-repeat;
}

.menu ul li.selected-item
{
  padding-left: 0.5em;
  background:transparent url(/pub/images/menu/button-selected.png) no-repeat;
  width:100%;
  height:48px;
  line-height:2.5em;
  font-family:Bitstream Vera Sans,Trebuchet MS,sans-serif;
}

.menu a
{
  display: block;
}

/* IE 6 and 7 hover hack */
*:first-child+html {} * html {} .menu a
{
  height: 1%;
}

.menu a:hover
{
  background-color: #bfd9ec;
}

.navigation-body {
  float:right;
  max-width:550px;
  padding-right:0.5em;
  padding-bottom:4em;
}

h3 {
  font-size:170.01%;
  margin-top:30px
}

.navigation-body p,
.navigation-body ul,
.navigation-body dl,
.navigation-body ol
{
  font-size:145.01%;
  font-family:serif;
}

.navigation-body ol ul {
  font-size:inherit;
}

.navigation-body ol li {
  margin:15px;
}

.navigation-body dl {
  margin-top:3ex;
  padding-left:0.5em;
}

.navigation-body ul {
  padding-left:1.2em;
}

.navigation-body ul li,
.navigation-body dl dd,
.navigation-body ol dd
{
  margin:10px;
}

a:active, a:focus {
  outline:0;
  -moz-outline-style: none;
}

pre {
  background-color:LightBlue;
  padding:1ex;
}
